wikipedia-extraction/input/*
wikipedia-extraction/output/*
wikipedia-extraction/bin/*
geoname-extraction/input/*
geoname-extraction/output/*
wikipedia-extraction/input_mr/*
wikipedia-extraction/output_mr/*
